[Unit]
Description=Every day start emptygomi.Service

[Timer]
OnBootSec==5min
OnUnitActiveSec=60m
Unit=emptygomi.service

[Install]
WantedBy=timers.target

