# =============================================================================
# File        : .gitignore
# Author      : yukimemi
# Last Change : 2024/06/30 12:21:10.
# =============================================================================

business.yml
password.yml
packages/
