!.aider.conf.yml
!dot_gemini/GEMINI.md
*.bak/
*.bk
*.dat
*.log
*.swp
*.zwc
.aider*
.bk/
.claude/scheduled_tasks.lock
.claude/settings.local.json
.config/nvim/plugin/packer_compiled.lua
.config/raycast-x/
.luarc.json
.vim/
_bk/
bin/
dot_gemini/*
