[submodule "vimperator/vimperator-plugins"]
	path = vimperator/vimperator-plugins
	url = git://github.com/vimpr/vimperator-plugins.git
[submodule "vimperator/vimperator-rc"]
	path = vimperator/vimperator-rc
	url = git://github.com/vimpr/vimperator-rc.git
[submodule "vimperator/caisui"]
	path = vimperator/caisui
	url = git://github.com/caisui/vimperator.git
[submodule "vimperator/377348"]
	path = vimperator/377348
	url = git://gist.github.com/377348.git
[submodule "zsh/zsh.d"]
	path = zsh/zsh.d
	url = git://github.com/clear-code/zsh.d.git
[submodule "tmux-MacOSX-pasteboard"]
	path = tmux-MacOSX-pasteboard
	url = git://github.com/ChrisJohnsen/tmux-MacOSX-pasteboard.git
[submodule "bashmarks"]
	path = bashmarks
	url = git://github.com/huyng/bashmarks.git
[submodule "win/CraftLaunch/clnch3_extensions.git"]
	path = win/CraftLaunch/clnch3_extensions.git
	url = git://github.com/nitoyon/clnch3_extensions.git
[submodule "vim/fonts/Monaco.git"]
	path = vim/fonts/Monaco.git
	url = git://gist.github.com/1634235.git
[submodule "vim/fonts/ubuntu-mono-powerline.git"]
	path = vim/fonts/ubuntu-mono-powerline.git
	url = https://github.com/scotu/ubuntu-mono-powerline.git
[submodule "rvm"]
	path = rvm
	url = git://github.com/wayneeseguin/rvm.git
[submodule "rochefort/homebrew"]
	path = rochefort/homebrew
	url = https://github.com/rochefort/homebrew.git
[submodule "kikaigyo/plist"]
	path = kikaigyo/plist
	url = git://github.com/kikaigyo/plist.git
[submodule "trash-cli"]
	path = trash-cli
	url = https://github.com/andreafrancia/trash-cli.git
[submodule "auto-fu.zsh"]
	path = auto-fu.zsh
	url = https://github.com/hchbaw/auto-fu.zsh.git
[submodule "Ricty"]
	path = Ricty
	url = https://github.com/yascentur/Ricty.git
[submodule "nodebrew"]
	path = nodebrew
	url = https://github.com/hokaccha/nodebrew.git
[submodule "pythonz"]
	path = pythonz
	url = https://github.com/saghul/pythonz.git
[submodule "profiles"]
	path = profiles
	url = https://github.com/todashuta/profiles.git
[submodule "pyful"]
	path = pyful
	url = git://github.com/anmitsu/pyful
