#!/bin/bash

# Brewfile hash: {{ include "dot_config/brewfile/Brewfile" | sha256sum }}

if command -v brew &>/dev/null; then
  echo "Applying Homebrew bundle..."
  brew bundle --file="$HOME/.config/brewfile/Brewfile"
else
  echo "Homebrew is not installed. Skipping brew bundle."
fi
