#!/bin/bash

# mise config.toml hash: {{ include "dot_config/mise/config.toml" | sha256sum }}

if command -v mise &>/dev/null; then
  echo "Updating mise tools..."
  mise install --yes
  mise prune --yes
else
  echo "mise is not installed. Skipping tool installation."
fi
