__bass.py
__fnm_index_update.fish
__fnm_list.fish
__fnm_mirror.fish
__fnm_read_fnmrc.fish
__fnm_rm.fish
__fnm_run_bin_as.fish
__fnm_usage.fish
__fnm_use.fish
__fnm_version_download.fish
__fnm_version_local.fish
__fnm_version_query.fish
__fnm_version_validate.fish
__fnm_version_which.fish
__format_time.fish
__gabbr_expand.fish
__parse_current_folder.fish
__parse_git_branch.fish
__pure_set_default.fish
__replace_multiple_dots.fish
__sf_lib_section.fish
__sf_section_aws.fish
__sf_section_battery.fish
__sf_section_char.fish
__sf_section_conda.fish
__sf_section_dir.fish
__sf_section_docker.fish
__sf_section_dotnet.fish
__sf_section_exec_time.fish
__sf_section_exit_code.fish
__sf_section_git.fish
__sf_section_git_branch.fish
__sf_section_git_status.fish
__sf_section_golang.fish
__sf_section_haskell.fish
__sf_section_host.fish
__sf_section_jobs.fish
__sf_section_julia.fish
__sf_section_kubecontext.fish
__sf_section_line_sep.fish
__sf_section_node.fish
__sf_section_package.fish
__sf_section_php.fish
__sf_section_pyenv.fish
__sf_section_ruby.fish
__sf_section_rust.fish
__sf_section_time.fish
__sf_section_user.fish
__sf_section_venv.fish
__sf_section_vi_mode.fish
__sf_util_git_branch.fish
__sf_util_human_time.fish
__sf_util_set_default.fish
__sf_util_truncate_dir.fish
__z.fish
__z_add.fish
__z_clean.fish
__z_complete.fish
_pure_format_time.fish
_pure_get_prompt_symbol.fish
_pure_parse_directory.fish
_pure_parse_git_branch.fish
_pure_print_prompt.fish
_pure_prompt.fish
_pure_prompt_beginning.fish
_pure_prompt_command_duration.fish
_pure_prompt_current_folder.fish
_pure_prompt_ending.fish
_pure_prompt_first_line.fish
_pure_prompt_git.fish
_pure_prompt_git_arrows.fish
_pure_prompt_git_branch.fish
_pure_prompt_git_dirty.fish
_pure_prompt_git_pending_commits.fish
_pure_prompt_new_line.fish
_pure_prompt_ssh.fish
_pure_prompt_ssh_host.fish
_pure_prompt_ssh_separator.fish
_pure_prompt_ssh_user.fish
_pure_prompt_symbol.fish
_pure_prompt_vimode.fish
_pure_prompt_virtualenv.fish
_pure_set_default.fish
_pure_string_width.fish
await.fish
bass.fish
bax.fish
bd.fish
fenv.apply.fish
fenv.fish
fenv.main.fish
fenv.parse.after.fish
fenv.parse.before.fish
fenv.parse.diff.fish
fenv.parse.divider.fish
fish_greeting.fish
fish_mode_prompt.fish
fish_prompt.fish
fish_right_prompt.fish
fish_title.fish
fisher.fish
fisher.fish.*
fnm.fish
gabbr.fish
get_file_age.fish
getopts.fish
humanize_duration.fish
installer.fish
last_job_id.fish
menu.fish
node.fish
npm.fish
pyenv.fish
rbenv.fish
test.py
z.awk
zadd.awk
zclean.awk
