"*":
  "atom-beautify":
    general:
      _analyticsUserId: "25631948-bfa3-451b-85bc-2bec40f7f617"
      analytics: false
    js:
      disabled: true
    jsx:
      disabled: true
      preserve_newlines: false
    xml:
      indent_char: "tab"
  "autocomplete-plus":
    backspaceTriggersAutocomplete: true
    minimumWordLength: 2
    suppressActivationForEditorClasses: [
      "vim-mode-plus.normal-mode"
      "vim-mode-plus.visual-mode"
      "vim-mode-plus.operator-pending-mode"
      "vim-mode-plus.insert-mode.replace"
    ]
    useCoreMovementCommands: false
  "clip-history": {}
  "clipboard-plus": {}
  core:
    autoHideMenuBar: true
    disabledPackages: [
      "vim-mode"
      "vim-mode-visual-block"
      "vim-surround"
      "ex-mode"
      "clip-history"
      "editorconfig"
      "terminal-plus"
      "language-javascript-jsx"
    ]
    packagesWithKeymapsDisabled: [
      "clipboard-plus"
    ]
    themes: [
      "atom-material-ui"
      "atom-material-syntax"
    ]
  "cursor-history":
    flashOnLand: true
  "disable-keybindings":
    prefixKeys: [
      "ctrl-p"
    ]
  docblockr: {}
  editor:
    fontFamily: "Ricty Diminished"
    fontSize: 13
    invisibles: {}
    preferredLineLength: 100
    showIndentGuide: true
    showInvisibles: true
  "exception-reporting":
    userId: "4a7e9009-6e5c-bb28-798c-b5a54c5682ed"
  "git-plus": {}
  "go-plus":
    goInstallation: "~/.anyenv/envs/goenv/shims/go"
    goPath: "~/.ghq"
  "keyboard-localization":
    useKeyboardLayout: "ja_JP"
  "language-babel":
    autoIndentJSX: true
    disableWhenNoBabelrcFileInPath: false
  linter: {}
  minimap:
    plugins:
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      "minimap-autohide": true
      "minimap-autohideDecorationsZIndex": 0
      pigments: true
      pigmentsDecorationsZIndex: 0
  "one-dark-ui": {}
  "plantuml-viewer":
    charset: "utf-8"
  "project-folder":
    gitProjectDirectories: [
      "~/.ghq/src"
    ]
    projectRootDirectories: [
      "~/.ghq/src"
    ]
  "quick-highlight": {}
  "recent-finder": {}
  "symbols-tree-view": {}
  "trailing-spaces":
    enableForCursorLines: true
    enableForIndentation: true
  "tree-view":
    hideVcsIgnoredFiles: true
  "vim-mode":
    useClipboardAsDefaultRegister: true
    useSmartcaseForSearch: true
    wrapLeftRightMotion: true
  "vim-mode-clipboard-plus":
    useVimModePlus: true
  "vim-mode-plus":
    disableInputMethodExceptInsertMode: true
    flashOnUndoRedo: true
    highlightSearch: true
    ignoreCaseForSearch: true
    incrementalSearch: true
    showHoverOnOperate: true
    showHoverSearchCounter: true
    useClipboardAsDefaultRegister: true
    useSmartcaseForSearch: true
  "vim-surround": {}
  welcome:
    showOnStartup: false
  whitespace: {}
".babel.regexp.source":
  editor:
    preferredLineLength: 100
".diff.source":
  editor:
    preferredLineLength: 100
".ini.source":
  editor:
    preferredLineLength: 100
".js.jsx.source":
  editor:
    preferredLineLength: 100
