"*":
  "exception-reporting":
    userId: "4a7e9009-6e5c-bb28-798c-b5a54c5682ed"
  welcome:
    showOnStartup: false
  core: {}
  editor:
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
    preferredLineLength: 100
  whitespace:
    removeTrailingWhitespace: false
  "vim-mode":
    useClipboardAsDefaultRegister: true
    useSmartcaseForSearch: true
    wrapLeftRightMotion: true
  "atom-beautify": {}
  "autocomplete-plus":
    minimumWordLength: 2
    backspaceTriggersAutocomplete: true
    useCoreMovementCommands: false
  "trailing-spaces":
    enableForIndentation: true
    enableForCursorLines: true
  minimap:
    plugins:
      "highlight-selected": true
      pigments: true
      "git-diff": true
      "minimap-autohide": true
  linter: {}
  "symbols-tree-view": {}
  "vim-surround": {}
  "git-plus": {}
  "go-plus":
    goPath: "~/.ghq"
    goInstallation: "~/.anyenv/envs/goenv/shims/go"
".diff.source":
  editor:
    preferredLineLength: 100
