########################################
# workspace
########################################
'atom-workspace:not([mini])':
  'ctrl-g': 'core:cancel'

########################################
# text-editor
########################################
# mini
'atom-text-editor[mini]':
  'ctrl-u': 'editor:delete-to-beginning-of-line'
  'ctrl-w': 'editor:delete-to-beginning-of-word'

# not mini
'atom-text-editor:not([mini])':
  # cursor-history
  'ctrl-i': 'cursor-history:next'
  'ctrl-o': 'cursor-history:prev'
  'ctrl-cmd-i': 'cursor-history:next-within-editor'
  'ctrl-cmd-o': 'cursor-history:prev-within-editor'

# normal-mode
'atom-text-editor.vim-mode-plus.normal-mode':
  's s': 'pane:split-down-and-copy-active-item'
  's v': 'pane:split-right-and-copy-active-item'
  's q': 'core:close'
  's O': 'pane:close-other-items'
  's j': 'window:focus-pane-below'
  's k': 'window:focus-pane-above'
  's h': 'window:focus-pane-on-left'
  's l': 'window:focus-pane-on-right'
  's w': 'window:focus-next-pane'
  's p': 'window:focus-previous-pane'
  's o': 'vim-mode-plus:maximize-pane'
  ', ,': 'core:save'

  'ctrl-h': 'pane:show-previous-item'
  'ctrl-l': 'pane:show-next-item'
  # recent-finder
  's u m': 'recent-finder:toggle'

  # open-this
  'g f': 'open-this:here'
  'ctrl-w f': 'open-this:split-down'
  'ctrl-w F': 'open-this:split-right'

  'g c': 'vim-mode-plus:select-latest-change'

  # surround
  'S': 'vim-mode-plus:surround-smart-word'
  'y s': 'vim-mode-plus:surround'
  'm s': 'vim-mode-plus:map-surround'
  'd s': 'vim-mode-plus:delete-surround-any-pair'
  'c s': 'vim-mode-plus:change-surround-any-pair'

  # option toggle
  'space n': 'editor:toggle-line-numbers'
  'space i': 'user:toggle-show-invisible'
  'space I': 'editor:toggle-indent-guide'
  'space w': 'editor:toggle-soft-wrap'
  'space /': 'vim-mode-plus:clear-highlight-search'

# insert
'atom-text-editor.vim-mode-plus.insert-mode':
  'ctrl-i': 'vim-mode-plus:insert-last-inserted'

# not-insert
'atom-text-editor.vim-mode-plus:not(.insert-mode)':
  'g x': 'link:open'
  # clipboard-plus
  'ctrl-y': 'clipboard-plus:toggle'

  # operator
  '_': 'vim-mode-plus:replace-with-register'
  'g C': 'vim-mode-plus:camel-case'
  'g _': 'vim-mode-plus:snake-case'

  'ctrl-k': 'vim-mode-plus:move-up-to-edge'
  'ctrl-j': 'vim-mode-plus:move-down-to-edge'
  'ctrl-p': 'vim-mode-plus:move-to-previous-fold-start'
  'ctrl-n': 'vim-mode-plus:move-to-next-fold-start'
  '(': 'vim-mode-plus:move-to-previous-fold-start-with-same-indent'
  ')': 'vim-mode-plus:move-to-next-fold-start-with-same-indent'

  'g h': 'vim-mode-plus:move-to-first-character-of-line'
  'g l': 'vim-mode-plus:move-to-last-character-of-line'

  # quick-highlight
  'space m': 'quick-highlight:toggle'
  'space M': 'quick-highlight:clear'

  # command-palette
  ':': 'command-palette:toggle'

# visual, operator-pending
'atom-text-editor.vim-mode-plus.operator-pending-mode, atom-text-editor.vim-mode-plus.visual-mode':
  ';': 'vim-mode-plus:inner-any-pair-allow-forwarding'
  ':': 'vim-mode-plus:a-any-pair-allow-forwarding'
  "'": 'vim-mode-plus:inner-any-quote'

# visual
'atom-text-editor.vim-mode-plus.visual-mode':
  # Need vim-mode-plus-move-selected-text package
  'ctrl-k': 'vim-mode-plus-user:move-selected-text-up'
  'ctrl-j': 'vim-mode-plus-user:move-selected-text-down'
  'ctrl-h': 'vim-mode-plus-user:move-selected-text-left'
  'ctrl-l': 'vim-mode-plus-user:move-selected-text-right'

  'cmd-K': 'vim-mode-plus-user:duplicate-selected-text-up'
  'cmd-J': 'vim-mode-plus-user:duplicate-selected-text-down'
  'cmd-H': 'vim-mode-plus-user:duplicate-selected-text-left'
  'cmd-L': 'vim-mode-plus-user:duplicate-selected-text-right'

# Input
'atom-text-editor.vim-mode-plus-input':
  'ctrl-g': 'vim-mode-plus:input-cancel'

# Search input
'atom-text-editor.vim-mode-plus-search':
  '[': 'vim-mode-plus:search-visit-prev'
  ']': 'vim-mode-plus:search-visit-next'
  ';': 'vim-mode-plus:search-confirm'
  'space': 'vim-mode-plus:search-insert-wild-pattern'
  'ctrl-g': 'vim-mode-plus:search-cancel'
  'cmd-enter': 'vim-mode-plus-user:project-find-from-search'

# Other
'.select-list':
  ';': 'core:confirm'
  'ctrl-l': 'pane:split-right'
  'ctrl-j': 'pane:split-down'
  'ctrl-g': 'core:cancel'

# ########################################
# # autocomplete-plus
# ########################################
'body atom-text-editor.autocomplete-active':
  'ctrl-p': 'autocomplete-plus:move-up'
  'ctrl-n': 'autocomplete-plus:move-down'
  'ctrl-space': 'autocomplete-plus:activate'
  'escape': 'autocomplete-plus:cancel'
