# =============================================================================
# File        : .gitignore
# Author      : yukimemi
# Last Change : 2024/11/18 23:53:19.
# =============================================================================

dvpm_cache.lua
dvpm_cache.vim
dvpm_plugin_cache.vim
