# =============================================================================
# File        : .gitignore
# Author      : yukimemi
# Last Change : 2024/11/08 09:18:21.
# =============================================================================

state/
