NuGet/
PowerShell/
anyenv/
asciinema/
cmus/
configstore/
direnv/
easytag/
fisher/
fisherman/
fnm/
gcloud/
gh/
heroku/
hub
iterm2/
nextword/
pet
powershell/
rclone
scoop/
stetic/
vim/yankround/
xbuild/
yarn/
