# =============================================================================
# File        : starship.toml
# Author      : yukimemi
# Last Change : 2024/10/09 21:16:38.
# =============================================================================

format = """$all"""
right_format = """$time"""
scan_timeout = 100
command_timeout = 1000

[os]
disabled = true
format = "$symbol ($style) "
style = "bold blue"

[os.symbols]
Macos = ""
Windows = ""

[time]
disabled = false
time_format = "%F %T"

[directory]
style = "blue"
truncation_length = 100
truncate_to_repo = false

[memory_usage]
disabled = false
format = "via [${ram_pct}( / ${swap_pct})]($style) "
threshold = -1
style = "bold dimmed blue"

[character]
success_symbol = "[➤ ](#F05F8D)"
error_symbol = "[➤ ](red)"
vimcmd_symbol = "[◀◀ ](green)"

[python]
disabled = true
