# =============================================================================
# File        : starship.toml
# Author      : yukimemi
# Last Change : 2026/01/18 00:31:46.
# =============================================================================

format = """$all"""
right_format = """$time"""
scan_timeout = 100
command_timeout = 1000

[os]
disabled = false
format = "$symbol ($style) "
style = "bold blue"

[os.symbols]
Alpaquita = ""
Alpine = ""
Amazon = ""
Android = ""
Arch = ""
Artix = ""
CentOS = ""
Debian = ""
DragonFly = ""
Emscripten = ""
EndeavourOS = ""
Fedora = ""
FreeBSD = ""
Garuda = "﯑"
Gentoo = ""
HardenedBSD = "ﲊ"
Illumos = ""
Linux = ""
Mabox = ""
Macos = ""
Manjaro = ""
Mariner = ""
MidnightBSD = ""
Mint = ""
NetBSD = ""
NixOS = ""
OpenBSD = ""
openSUSE = ""
OracleLinux = "󰌷"
Pop = ""
Raspbian = ""
Redhat = ""
RedHatEnterprise = ""
Redox = "󰀘"
Solus = "ﴱ"
SUSE = ""
Ubuntu = ""
Unknown = ""
Windows = ""

[time]
disabled = false
time_format = "%F %T"

[directory]
style = "blue"
truncation_length = 100
truncate_to_repo = false

[memory_usage]
disabled = false
format = "via [${ram_pct}( / ${swap_pct})]($style) "
threshold = -1
style = "bold dimmed blue"

[character]
success_symbol = "[➤ ](#F05F8D)"
error_symbol = "[➤ ](red)"
vimcmd_symbol = "[◀◀ ](green)"

[python]
disabled = true
