NuGet/
PowerShell/
ai_cli/
anyenv/
asciinema/
broot/
cmus/
configstore/
denops_twihi
direnv/
easytag/
fisher/
fisherman/
fnm/
gcloud/
gh/
github-copilot/
heroku/
hub
iterm2/
mocword/
mps-youtube/
nextword/
pet
lumiris/
rclone
scoop/
stetic/
tool_state
vim/autobackup/
vim/yankround/
xbuild/
yarn/
